<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="Web app exploring BLS data created for Interactive Data Science at CMU" content="">
    <meta name="Kyle Furlong" content="">
    <link rel="icon" href="favicon.ico">
    <title>Interactive Data Science Byte 1: Make America Work Again?</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/theme.css" rel="stylesheet">
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#jobcreation">Job Creation</a></li>
            <li><a href="#wagegrowth">Wage Growth</a></li>
            <li><a href="#resources">Additional Resources</a></li>
            <li><a href="#aboutme">About the Developer</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container-fluid" role="main">
         <!-- Main jumbotron for a primary marketing message or call to action -->
            <div style= "background-color:#777777" class="jumbotron" >
				<h1 style = "color: #000000">Interactive Data Science Byte 1:<br> <font color = "#FF0000">Making</font> <font color = "FFFFFF">Americans Work</font> <font color = "#0000FF">Again?</font></h1></div>
			<div class="row">
				<div class="col-md-1">
				</div>
				<div class="col-md-10">
				<br>
				<p><em>One common belief among supporters of the current U.S. administration rests on its ability to spur the economy 
        into action by creating new jobs and driving wages higher for everyone. After one year, to what degree has this 
        administration met its, albeit, lofty campaign promises? To answer this question, we explore publicly available 
        data from the U.S. Bureau of Labor Statistics and present our key findings below.</em></p>
				</div>
				<div class="col-md-1">
				</div>
			</div>
			<div class="row">
				<div class="col-md-1">
				</div>
				<div class="col-md-2">
					<h3>
						Introduction
					</h3>
				</div>
				<div class="col-md-8">
					<a name="intro"></a>
					<p>
						Before truly beginning our brief analysis on the impact of the current administration on the nation’s economy 
						with respect to job creation and wage growth, it is important to note that many of the driving factors for these 
						economic indicators are entirely outside the control of the presidency. While regulations imposed or relaxed by 
						the executive branch do play some role in boosting, or inhibiting for that matter, the economy, the overall role 
						of these regulations is comparatively small to the potential policies passed by Congress or pursued by the 
						relatively independent federal agency, the Federal Reserve Board. In spite of this political limitation of the 
						power of the presidency over the nation’s economy, due to the incredibly ambitious promises made over the 
						course of the campaign cycle, it is important to evaluate the current administration as to serve as a check on 
						their ability to return on these promises.
					</p>
					<p>
						We also acknowledge that there are multiple ways to evaluate the U.S. economy. In fact, the careers of 
						thousands of economists exist to do just this task and to construct new indicators of economic performance. 
						To this end, we note that our analysis is intentionally limited to focus on the raw statistics released by 
						the nonpartisan U.S. Bureau of Labor Statistics (BLS). Furthermore, while a longitudinal evaluation of the 
						labor market may be more informative, we restrict our analysis to two datasets released in the second quarter 
						of 2016 and 2017. <a href = https://fivethirtyeight.com/features/a-presidents-first-100-days-really-do-matter/>Data suggests</a> 
						that the first one-hundred days in office strongly indicate the overall productivity and capacity to produce 
						meaningful results in office. Therefore, if data provided by the BLS indicate growth in jobs and wages, 
						perhaps the administration’s campaign promises were not a ruse after all.
					</p>
				</div>
				<div class="col-md-1">
				</div>
			</div>
			<div class="row">
				<div class="col-md-1">
				</div>
				<div class="col-md-2">
					<h3>
						<a name="jobcreation"></a>
						Job Creation
					</h3>
				</div>
				<div class="col-md-8">
					<p>
						In this Section, I'll briefly discuss the past year's trend in job creation across the documented MSAs.
					</p>
				</div>
				<div class="col-md-1">
				</div>
			</div>
			<div class="row">
				<div class="col-md-1">
				</div>
				<div class="col-md-2">
					<h3>
						<a name="wagegrowth"></a>
						Wage Growth
					</h3>
				</div>
				<div class="col-md-8">
					<p>
						In this section, I'll highlight some data related to wage growth in the United States over the past year.
					</p>
				</div>
				<div class="col-md-1">
				</div>
			</div>
			<div class="row">
				<div class="col-md-1">
				</div>
				<div class="col-md-2">
					<h3>
						<a name="resources"></a>
						Additional Resources
					</h3>
				</div>
				<div class="col-md-8">
					<p>
						Additional resources to be listed here!
					</p>
				</div>
				<div class="col-md-1">
				</div>
			</div>
			<div class="row">
				<div class="col-md-1">
				</div>
				<div class="col-md-2">
					<h3 class="text-left">
						About the Developer
					</h3>
					<a name="aboutme"></a>
				</div>
				<div class="col-md-8">
					<div class="row">
						<div class="col-md-10">
							<h2>
								Heading
							</h2>
							<p>
								All about me!
							</p>
						</div>
						<div class="col-md-2">
							<img alt="Kyle Furlong Profile Picture" src="/images/profile.jpg" class="img-rounded" />
						</div>
					</div>
				</div>
				<div class="col-md-1">
				</div>
			</div>
		</div>
	</div>
			




<iframe width="500" height="300" scrolling="no" frameborder="no"
	src="https://www.google.com/fusiontables/embedviz?q=select+col16%3E%3E0+from+1ymz3EtGdi4qKGMl5AxEFXtTlgk3tKi8iCpjTzvM&amp;viz=MAP&amp;h=false&amp;lat=38.071424981566125&amp;lng=-85.15232666015623&amp;t=1&amp;z=9&amp;l=col16%3E%3E0&amp;y=3&amp;tmplt=3&amp;hml=TWO_COL_LAT_LNG"></iframe>

      </div> <!-- /page-header -->
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
  </body>
</html>